.folderexplorer--main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.folderexplorer--button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-color-deg-dark);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    transition-duration: 0.3s;

    &:hover {
        background-color: var(--secondary-color);
    }
}

.folderexplorer--create {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
