.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba($color: #0000, $alpha: 0.5);
    display: none;

    // border: 1px solid red;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container{
    position: relative;

    padding: 1rem;

    width: 1080px;
    min-width: 320px;
    max-width: 1080px;

    min-height: 500px;
    max-height: 600px;

    overflow-y: auto;
    
    background-color: rgb(206, 18, 18);

    flex-direction: column;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    cursor: pointer;
}