.light {
    --primary-color: #efefef;
    --primary-color-deg-light: #fff;
    --primary-color-deg-dark: #cbc9c9;
    --secondary-color: #1c232d;
    --secondary-color-deg-light: #242c395a;
    --secondary-color-deg-dark: #141920;
}

.dark {
    --primary-color: #1c232d;
    --primary-color-deg-light: #242c39;
    --primary-color-deg-dark: #141920;
    --secondary-color: #efefef;
    --secondary-color-deg-light: #ffffff40;
    --secondary-color-deg-dark: #cbc9c9;
}
